[submodule "vendor/reed"]
	path = vendor/reed
	url = https://github.com/javagg/reed.git
[submodule "vendor/linger"]
	path = vendor/linger
	url = https://github.com/javagg/linger.git
[submodule "vendor/rmetis"]
	path = vendor/rmetis
	url = https://github.com/javagg/rmetis.git
